body {
    color: black;
}

.footer {
    background-color: #f2ede1;
    font-family: Arial, sans-serif;
    padding: 80px 5%; 
    box-sizing: border-box;
}

.footerContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4rem; 
}

.footerSection {
    flex: 1 1 150px; 
    margin-bottom: 20px;
}

.footerSection h2{
    margin-bottom: 1rem;
}

.footerSection h3 {
    margin-bottom: 1.5rem;
}

.footerSection p {
    color: #333;
}

.footerSection ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerSection ul li {
    margin-bottom: 5px;
}

.footerSection a {
    text-decoration: none;
    color: #333;
}

.footerSection a:hover {
    text-decoration: underline;
    color: black;
}

.footerSocial img{
    width: 2.5rem;
    margin-right: 3rem;
}

.footerBottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: var(--gray-77);
}

/* 모바일 세로, 가로 */
@media (max-width: 767px){
    .footer{
        padding: 5rem;
        /* text-align: center; */
    }
    .footerContainer{
        flex-direction: column;
    }
    .footerSection{
        flex: 1 1 5rem;
    }
    .footerSection h2{
        margin-bottom: 1rem;
    }
    .footerSection p {
        line-height: 1.8em;
    }
    .footerSection .quickList{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
