/* 변수 (컬러, 폰트사이즈) */
:root {
    /* 컬러 */
  --primary-color: #800020;
  --secondary-color: #ffab15;
  --base-color: #FFF8DC;
  --yellow-ffe: #ffe0a0;
  --gray-f5: #f5f5f5;
  --gray-77: #777;

  /* 페이지/섹션 별 폰트 스타일 */

  /* 제목 사이즈(임의설정임으로 변경희망시 상의) */

  /* 버튼 사이즈 */
  --btn-width: 8rem;
  --btn-height: 4rem;
  --btn-font-size: 1.4rem;

  /* border-radius level*/
  --radius-1: 1rem;

  /* 아래,위 여백(추후 수정 예정)  */
  --spacing-sm: 0.8rem;
  --spacing-md: 1.6rem;
  --spacing-lg: 3.2rem;
  --spacing-60: 6rem;
}

 /* div사용별모음 */
 .doubleContainer{
    display: grid;
    grid-template-columns: repeat(2, 48%);
    gap : 4%;
}
.leftContainer {
    padding : 15px 0px;
    text-align: left;
}

.rightContainer {
    padding-top: 30px;
    text-align: right;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 폰트 초기화 */
/* 10px -> 1rem 으로 계산 */
html{
  font-size: 62.5%; 
}

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  /* line-height: 1em; */
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

ul {
  list-style: none;
}

/* 링크 초기화 */
a{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* button {
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
} */

.button {
  padding: 0.8rem 1.6rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fff;
  color: #333;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #80002050;
  border-color: #ccc;
  color: white;
}

.button:active {
  transform: translateY(1px);
}

/* 컨텐츠 너비, 마진 */
/* PC 버전 너비 */
.container {
  width: 70%;
  max-width: 128rem;
  /* min-width: 78rem; */
  margin: 0 auto;
  padding: 5rem 2rem;
  
}

.contentTopPosition{
  margin-top: 14.6rem; /*header+menubar height*/
}

/* 컨텐츠 box 스타일 */
.contentBox{
    border-radius: var(--radius-1);
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

/* 제목 */
.heading{
    font-size: 3rem;
}
.contentHeading{
    font-size: 2.4rem;
    margin-block: 1.2rem;
}

@media (max-width: 1024px){
    .container {
        width: 80%;
        max-width: 100%;
    }
}

@media (max-width: 430px){
    html{
        font-size: 56.25%; /* 9px = 1rem */
    }
    .contentTopPosition {
      margin-top: 7rem;
    }
    .container {
        width: 95%;
        max-width: 100%;
        margin: 0 auto;
        padding: 4rem 1rem;
    }
}