.bigContainer {
  height: auto;
  min-height: calc(100vh - 15rem);
  padding-block: 4rem;
  background-image: url("../resources/img/system/main.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}
.bigContainer::before {
  content: "";
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.bigContainer > * {
  position: relative; /* 내용이 overlay 위에 나오도록 */
  z-index: 1;
}

h4 {
  margin-bottom: 0px;
}

.mainContainer {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 6rem 4rem; 
  width: 70vw; 
  max-width: 100rem;
  height: auto; 
  justify-items: center;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0.6rem 1.8rem rgba(0, 0, 0, 0.08);

  text-align: center;
  align-items: center;
  border-radius: 0.4rem;
}
.typeTitle {
  font-size: 2.4rem;
  margin-bottom: 4rem;
}

.sectionTitle {
  font-size: 2rem;
  font-weight: bold;
}
.mainContainer p {
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.iconGrid {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(8, 6rem);
  gap: 4rem;
  font-size: 3rem;
  margin: 2rem 0;
}

.iconRight {
  justify-items: right;
  font-size: 2.5rem;
  margin-block: 4rem 0;
}

.iconBtn {
  position: relative;
  text-align: center;
  cursor: pointer;
  padding: 1rem;
  background-color: f5f5f5;
  border-radius: 12px;
  transition: 0.2s;
}

/* 호버 시 아이콘 스타일 */
.iconBtn.active,
.iconBtn:hover {
  background: #ffab15;
  color: #fff;
}

/* 툴팁 스타일 */
.iconBtn .tooltip {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}

/* 툴팁 화살표 */
.iconBtn .tooltip::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #333;
}

/* 마우스를 올렸을 때 툴팁 표시 */
.iconBtn:hover .tooltip {
  opacity: 1;
  bottom: -45px;
}
.iconSearch {
  background-color: #ffab15;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 5px 10px #ffb74d;
  transition: background-color 0.3s ease;
}
.iconSearch:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 15px 30px rgba(255, 143, 0, 0.5);
}

.iconSearch a {
  color: black;
  display: block;
  width: 14rem;
  height: 5.6rem;
  line-height: 5.6rem;
  text-decoration: none;
}

.titleBox {
  width: 90%;
  text-align: left;
  margin: 0px;
}

/* 화면 전체 어둡게 */
.regionDimmed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.regionDimmedMiddle {
  background: white;
  width: 600px;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

/* 도 / 시 / 동 3컬럼 */
.regionContainer {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  justify-content: center;
}

.regionColumn {
  width: 30%;
  max-height: 300px;
  overflow-y: auto;
  border-right: 1px solid #ddd;
}

.regionColumn:last-child {
  border-right: none;
}

/* 리스트 아이템 */
.regionItem {
  padding: 10px;
  cursor: pointer;
  text-align: left;
  transition: 0.2s;
}

.regionItem:hover {
  background: #ffe0b2;
}

.activeItem {
  background: #ffb74d;
  color: white;
}

/* 확인 버튼 */
.regionConfirm {
  margin-top: 20px;
  padding: 10px 20px;
  background: #ff8f00;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.regionConfirm:hover {
  background: #e67c00;
}

.regionColumn p {
  font-size: 15px;
}

.dd {
  display: none;
}

/* 태블릿 */
@media (max-width: 1023px) {
  .bigContainer {
    min-height: calc(100vh - 7rem);
  }
  .mobContentWrap {
    border: 2px solid blue;
  }
  .mainContainer {
    width: 80%;
    margin-block: 5rem;
    padding-top: 10rem;
  }
  .mainFont {
    display: none;
  }
}

/* 모바일 세로, 가로 */
@media (max-width: 767px) {
  .bigContainer::before {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .mainContainer {
    padding-top: 5rem;
    padding-inline: 1.5rem;
    margin: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
  }
  .typeTitle {
    font-size: 2rem;
  }

  .iconRight {
    justify-items: right;
    margin-bottom: 0;
  }
}
