.infoWindow{
    font-size: 1.4rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    width: 30rem;
    height: 16rem;
    overflow: hidden;
    position: relative;
}
.infoWindow .closeBtn{
    width: 2rem;
    height: 2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    background-color: rgba(255, 255, 255, 0.7);
}
.link{
    display: flex;
    height: 100%;
}
.infoImg{
    min-width: 13rem;
    background-color: #ddd;
    object-fit: cover;
}
.storeInfo{
    flex: 1;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.storeNm, .address{
    text-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.storeNm{
    font-size: 1.6rem;
    line-height: 1.3em;
    text-wrap: wrap;
    margin: 0;
    color: #333;
}
.address{
    font-size: 1.3rem;
    line-height: 1.3em;
    /* margin-bottom: -1rem; */
}
.address::before{
    content: "";
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.5rem;
    background: url("/src/resources/img/search/iconLocation.svg") no-repeat center / cover;
}
.infoBottom{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin: 0;
}
.infoBottom img{
    margin-right: 0.5rem;
    margin-bottom: -0.3rem;
}

/* 내 위치 마커 */
.curMarker{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.curInfoWindow{
    padding: 0.5rem 1.2rem;
    background-color: #ff4b4b;
    color: #fff;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 0.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.curPoint{
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ff4b4b;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 75, 75, 0.5);
}
                    