.loginWrap{
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-inline: 2rem; */
}
.container {
  position: relative;
  width: 85rem;
  height: 55rem;
  margin: 3rem;
  background: none;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

/* 공통 폼 */
.formBox {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.6s ease-in-out;
}

/* 로그인 */
.login {
  left: 0;
  transform: translateX(0);
}

/* 회원가입 */
.register {
  right: 0;
  transform: translateX(0%);
}

/* active 상태 */
.active .login {
  transform: translateX(0%);
}

.active .register {
  transform: translateX(0);
}

/* 토글 패널 */
.toggleBox {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.toggleLeft,
.toggleRight {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #ffb92e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  transition: transform 0.6s ease-in-out;
}


/**/
.toggleLeft {
  left: 0;
}

.toggleRight {
  right: 0;
  transform: translateX(100%);
}

.active .toggleLeft {
  transform: translateX(-200%);
}

.active .toggleRight {
  transform: translateX(-100%);
}



/* 버튼 */
.btn {
  width: 100%;
  height: 45px;
  margin-top: 10px;
  background: #800020;
  color: #fff;
  border: none;
  border-radius: 8px;
}

.registerBtn,
.loginBtn {
  margin-top: 20px;
  padding: 10px 30px;
  background: transparent;
  border: 2px solid #000;
  border-radius: 7px;
  cursor: pointer;
}

.inputBox {
  position: relative;
  margin: 10px 0;
}

.inputBox input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  background: #ffb92e;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #800020;
  font-weight: 500;
}

.inputBox input::placeholder {
  color: #800020;
  font-weight: 400;
}

.inputBox i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

/* mobile */
.mobToggleBox{
  display: none;
}

/* 모바일 */
@media (max-width: 767px) {
  .container{
    height: 90%;
  }
  /* register, login 세로로 분리 */
  .formBox{
    padding: 0rem;
    width: 100%;
    flex-direction: column;
  }
  .formBox{
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .loginFomBox{
    width: 100%;
  }
  .formBox form, .loginFormBox{
    padding: 4rem 10% 3rem;
    width: 100%;
    flex: 1;
  }
  .registerFormBox{
    transform: translateY(0);
  }
  .title{
    margin-block: 2rem;
    font-size: 2.4rem;
  }
  .mobLoginWrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: translateY(100%);
  }
  .mobLoginWrap .loginFomBox{
    flex: 1;
    padding-top: 4rem;
  }
  .loginFomBox form{
    padding-top: 0;
  }
  .loginFomBox h1{
    margin-bottom: 3rem;
  }
  .mobToggleBox{
    display: block;
    width: 100%;
    height: 35%;
    max-height: 25rem;
    background-color: #ffb92e;
    inset: 0 0 auto;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobToggleInner{
    text-align: center;
  }
  .toggleTitle{
    margin-block: 2rem;
    font-size: 2rem;
  }
  /* action */
  .container.active .registerFormBox{ 
    transform: translateY(-100%);
  }
  .container.active .mobLoginWrap{
    transform: translateY(0);
  }

  /* PC 토글 박스 없애기 */
  .toggleBox{
    display: none;
  }
}